# Pastas de dependências e builds (não copie do host)
**/bin/
**/obj/
**/node_modules/
**/dist/

# Pastas de configuração do VS Code / JetBrains
.vscode/
.idea/
.vs/

# Arquivos de log e temporários
*.log
*.tmp
*.bak

# Pastas e arquivos do Docker
.docker/
docker-compose.yml
Dockerfile

# Arquivos de sistema/git
.git/
.gitignore
.DS_Store

# Documentação ou arquivos de projeto desnecessários
README.md
*.md